services:
  web:
    build: .
    ports:
      - "8000:80"
    environment:
      DB_HOST: db
    depends_on:
      - db
  db:
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_LOG_CONSOLE: 1
    ports:
      - "3306:3306"
    volumes:
      - "./db-load-script.sql:/docker-entrypoint-initdb.d/1.sql"
    # TODO: set healthcheck based on the log "ready for connections"