name: Docker Build & Push

on:
  push:
    branches:
      - master
    paths:
      - src/**
      - Dockerfile
      # - .github/workflows/docker-build-push.yaml
  pull_request:
    branches:
      - master
    paths:
      - src/**
      - Dockerfile
      # - .github/workflows/docker-build-push.yaml

jobs:
  docker-build-push:
    name: docker-build-push
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set short git commit SHA
        id: vars
        run: |
          calculatedSha=$(git rev-parse --short ${{ github.sha }})
          echo "COMMIT_SHORT_SHA=$calculatedSha" >> $GITHUB_ENV
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ecom-web:latest,
            ${{ secrets.DOCKERHUB_USERNAME }}/ecom-web:${{ env.COMMIT_SHORT_SHA }}
